body {
    margin: 0;
    background-color: rgb(235, 235, 235);
    font-family: 'Inter', sans-serif;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}