.menu-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 350px);
}

.hero-bg {
    background-image: url("../assets/img/banner.jpg");
    background-size: cover;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    box-sizing: border-box;
    padding-bottom: 20px;
    border-radius: 20px;
}

.hero-title {
    background-color: white;
    padding: 5px 10px;
    margin: 0;
    border-radius: 20px;
    font-size: 40px;
    font-weight: 700;
}

.restaurant-score {
    background-color: white;
    padding: 5px 10px;
    margin: 0;
    border-radius: 20px;
}

.category-selection {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
}

.category-selection button {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
}

.category-selection button:hover {
    background-color: rgb(235, 235, 235);
}

.menu-card {
    display: flex;
    flex-direction: column;
}

.category-headline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-card-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px 0;
}

.menu-card-hero img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.menu-info {
    display: flex;
    flex-direction: column;
}
